html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 15px; }



header
{ 	height:10%;
	display:flex;
	justify-content: flex-end;
	align-items: center;}
.headerleft
{ 	position:absolute; width:800px;}
.headerright
{	flex:1;
	display:flex;
	justify-content: space-between;
	align-items: center; 
	margin-left:70%;}
.gmail, .images, .carre, .compte
{ 	justify-content: space-between;	}

a {	text-decoration: none;}
a:hover { text-decoration: underline;}
a:visited { text-decoration: none;}
header a {	color:black;}
footer a {color:#5f6368;}





section
{ 	display:flex;
	flex-direction:column;
	align-items:center;
	flex-wrap:nowrap;
	padding:125px 50% 20px 50%;  }

.sec2
{ 	display: flex;
	flex-direction:row;
	justify-content:space-between;
	margin: auto 30% 150px 30%; 	}

.rech2, .chance
{	background-color:#f2f2f2;
	color:#5f6368;
	border-radius: 3px;
	padding: 10px 10px 10px 10px; }

.rech2:hover, .chance:hover
{   border: 1px solid #5f6368;
    color:black;}
#recherchetapee
{   background-color:#FFFFFF;
    border-radius:15px;
    border: 0.4px solid #dfe1e5;
    width: 420px;
    height:24px; }
#recherchetapee:hover
{ 	box-shadow: 1px 1px 1px grey; }




footer
{ 	height:10%;
	width:100%;
	background-color:#f2f2f2;
	color:#5f6368;
	display:flex;
	flex-direction:column; 	}
	.footer1
	{  	border-top: 1px solid #e4e4e4;
		border-bottom: 1px solid #e4e4e4;
		padding:10px 10px 10px 10px; 	}
	.footer2
	{ 	border-bottom: 1px solid #e4e4e4;
		display:flex;
		justify-content:stretch;
		flex-wrap:nowrap;
		width:100%;		 }
		.footer21
		{ 	display:flex;
			flex-grow:1;
			flex-direction:row nowrap;
			justify-content:space-between;
			padding:10px 10px 10px 10px;
			margin-right:5%; 						 }
		.footer22
		{ 	display:flex;
			flex-grow:1;
			flex-direction:row nowrap;
			justify-content:space-between;
			margin-left:10%;
			padding:10px 10px 10px 10px; }

